@{
    ViewData["Title"] = "Access Denied";
}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="display-1 text-danger">403</h1>
            <h2 class="display-4 mb-4">Access Denied</h2>
            <p class="lead">You do not have permission to view this page.</p>
            <hr>
            <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary">Go to Home Page</a>
        </div>
    </div>
</div>